<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5p %c{10} - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="sql" level="info" />
        <Logger name="org.hibernate.SQL" level="info" />
        <Logger name="com.sampleproject" level="debug" />

        <Root level="info">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>